<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <meta content= {% t meta.page_title %} name="title">
    <meta content= {% t meta.description %} name="description">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="mask-icon" href="/apple-icon.svg" color="#ff0000">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
    <link rel="manifest" href="/manifest.json" />
  </head>
  <body>
    {{ content }}
  </body>
</html>
