<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">
    <meta content="width=device-width, user-scalable=no" name="viewport">
    <meta content= {% t meta.page_title %} name="title">
    <meta content= {% t meta.description %} name="description">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {{ content }}
  </body>
</html>
